/* <----- hero -----> */

.hero {
    
    width: 100%;
    background-image: linear-gradient(90deg, rgba(0, 77, 153, 0.9), rgba(0, 209, 217, 0.8) 50%, rgba(0, 217, 173, 0.9)), url("../photo/hero.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-color: #61d9be;
    height: 100vh;
    margin-top: -71px;
    color: #ffffff;
    text-align: center;
  }
  
  .hero-div {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .hero-div > h1 {
    padding-top: 71px;
    font-size: 80px;
    font-weight: 500;
    font-family: "Fugue", sans-serif;
    font-weight: 400;
    text-align: left;
  }
  
  .hero-div > h2 {
    font-size: 60px;
    font-weight: lighter;
    font-family: "Fugue", sans-serif;
    font-weight: 400;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
    text-align: left;
  }
  .hero-div p{
    margin-top: 50px;
    font-size: 20px;
    font-family: "Fugue", sans-serif;
    text-align: left;
  }
  
  @media (max-width: 700px) {
    .martin-name {
      font-size: 60px;
    }
  }
  
  .hero-btn {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      line-height: 40px;
      padding: 10px 20px;
      border-radius: 20px;
      border: 3px solid #fff;
      text-align: center;
  }
  .hero-btn:hover {
      background-color: white;
      color: #144d77;
  }
  
    .send{
        padding: 60px 0;
        width: 100%;
        text-align: center;
        border-color: #ffffff;
        background-color: #f0f0f0;
    }
        .send > .row > h2 {
            color: #000;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        
        .button {
            border: 2px solid #bdbdbd;
            text-align: center;
            padding: 10px 40px;
            border-radius: 15px;
            text-decoration: none;
            text-transform: uppercase;
            margin-bottom: 100px;
            background-color: #81ceee;
            color: #fff;
            cursor: pointer;
        }
        .button:hover{
            background-color:  #f9fcfd;
            border: 3px solid #81ceee;
            color: #000;
        }
        .column-right > p{
       
            background-color: blue;
        }

.price {
}
    .price > .plc {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        border: 2px solid #bdbdbd;
        padding: 10px;
        border: 5px solid #e0e0e0;
        
    }
    .price select {
        padding: 5px;
        font-size: 15px;
    }
    .price form {
        display: inline-block;
        float: left;
        width: 100%;
    }
    .price .left {
        display: inline-block;
        float: left;
        width: 70%;
    }
    .price .right {
        display: inline-block;
        float: right;
        width: 28%;
    }
    .price .obj-1{
        display: inline-block;
        width: 30%;
    }
    .price .obj-2{
        display: inline-block;
        width: 30%;
    }
    .price .obj-3{
        display: inline-block;
        float: right;
        width: 38%;
        border: 1px solid grey;
        text-align: center;
        text-decoration: none;
        color: #000;
        padding: 4px;
    }
    .price select .houskeepers{
        display: inline-block;
        float: left;
        width: 100%;
    }
    .price > .row > input{
        width: 100%;
    }
    .price > .kaina {
        border: 5px solid #e0e0e0;
        padding: 10px;
    }
    .rezervation{
        display: inline-block;
        text-decoration: none;
        width: 100%;
        margin-top: 80px;
        color: #000;
        border: 1px solid grey;
        text-align: center;
        padding: 4px 0;
    }

.container-full{
    
    background-color: grey;
}

/* grid-template-columns: repeat(auto-fit, minmax (200px, 1fr)) */