
    .send{
        padding: 60px 0;
        width: 100%;
        text-align: center;
        border-color: #ffffff;
        background-color: #f0f0f0;
    }
        .send > .row > h2 {
            color: #000;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        
        .button {
            border: 2px solid #bdbdbd;
            text-align: center;
            padding: 10px 40px;
            border-radius: 15px;
            text-decoration: none;
            text-transform: uppercase;
            margin-bottom: 100px;
            background-color: #81ceee;
            color: #fff;
            cursor: pointer;
        }
        .button:hover{
            background-color:  #f9fcfd;
            border: 3px solid #81ceee;
            color: #000;
        }
        .column-right > p{
       
            background-color: blue;
        }

.price {
    border: 1px solid #bdbdbd;
    padding: 20px;
}
    .price > .plc {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        border: 2px solid #bdbdbd;
        
    }
    .price > .row > input{
        width: 100%;
    }
    .price > .kaina {

        border: 2px solid #bdbdbd;
        
    }
.container-full{
    
    background-color: grey;
}

/* grid-template-columns: repeat(auto-fit, minmax (200px, 1fr)) */