html {
    scroll-behavior: smooth;
}

header {
    display: grid;
    width: 100%;
    height: 60px;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.5s ease;
}

.bg-grey {
    background-color: #F8F9FC;
}
.hed{
    grid-area: ;
}
.logo {
    display: inline-block;
    float: left;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
}
.nav {
    display: inline-block;
    float: right;
    padding-right: 100px;
    margin-left:10px;
}
.nav > a {

    text-align: right;
}

 .menu-main-h {
    display: block;
    float: left;

    position: relative; 
}
.show  > .menu-mob-h{
    display: block;
    background:#c4c4c4;
    padding-top: 10px;
    padding-bottom: 10px; 
    position: relative; 
    width: 100%; 
    float: left;
}

.menu-mob-h{
    display: none;
    background:#c4c4c4;
    position: relative; 
    padding-top: 10px;
    padding-bottom: 10px; 
    position: relative;
    width: 100%; 
    float: left;
}


.mob-menu-ico-h {
    display: none; 
    background:transparent; 
    float: right;
    position: relative; 
    margin-top: -9px;
}

.mob-menu-icon {
    display: block; 
    width: 42px; 
    height: 42px; 
    position: relative; 
    padding:8px; 
    float: right;
    cursor: pointer;
    background-color: red;
    color: #fff;
    margin-top: -5px;
}
.menu-ico-str {
    display: block; 
    float: left; 
    position: relative; 
    width: 100%; 
    height: 5px; 
    background-color:#fff; 
    margin-bottom: 2px; 
    margin-top: 2px; 
    border-radius: 2px;
}

.menu-mob-h a {
    display: block; 
    width: 100%; 
    padding:5px; 
    text-align: center;
}

@media only screen and (max-width : 800px) {
    .menu-main-h {display: none; height: auto;}
    .mob-menu-ico-h {display: block;}
}