.column-left{
}
    .column-left > .row > img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 5px;
    }
    
    .column-left > .row > h1{
        margin-bottom: 100px;
        font-size: 42px;
        line-height: 50px;
        font-weight: 300;
        padding-top: 100px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }
    .column-left > .row > h1::after{
        width: 100px;
        height: 3px;
        background: #111111;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -10px;
    }
    .column-left > .service > h2{
        color: #2b5279;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .service{
        text-align: center;
        border: 5px solid #e0e0e0;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px;
        margin-bottom: 100px;
    }
    .service .block1 {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 30px;
            outline: auto;
            outline-color: red;
            background-color: #fff;
            transform: rotate(45deg);
    }
    @keyframes hover {
        from {
          transform: translatey(0px);
        }
        to {
          transform: translatey(-10px);
        }
      }
      
      .service:hover {
        border: solid 5px #144d77;
        transition-duration: 0.9s;
        animation: hover 0.3s ease-out forwards;
      }
      
    .column-left > .service > p{
        width: 100%;
        padding: 20px 5px;
        font-family: 'Libre Baskerville', sans-serif;
        color: #5c5c5c;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        
    }
    .column-left > .service > a:hover {
        background-color:#81ceee;
        color: #fff;
    }

@media (min-width: 780{
    .services {
        grid-template-columns: 1fr 1fr;
    }

}