.column-left{
}
    .column-left > .row > img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .column-left > .row > h1{
        text-align: center;
        text-transform: uppercase;
        padding: 30px 0;
        margin-bottom: 20px;
    }
    .column-left > .service > a{
        text-decoration: none;
        color: black;
    }
    .service{
        text-align: center;
        text-transform: uppercase;
        border: 5px solid #e0e0e0;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px;
    
    }
    @keyframes hover {
        from {
          transform: translatey(0px);
        }
        to {
          transform: translatey(-10px);
        }
      }
      
      .service:hover {
        border: solid 5px #f9c539;
        transition-duration: 0.9s;
        animation: hover 0.3s ease-out forwards;
      }
      
    .column-left > .service > p{
        border: 1px solid #81ceee;
        border-radius: 3px;
        width: 100%;
        text-align: center;
        padding: 5px;
        background-color: #f9fcfd;
        cursor: pointer;
        
    }
    .column-left > .service > p:hover {
        background-color:#81ceee;
        color: #fff;
    }

@media (min-width: 780{
    .services {
        grid-template-columns: 1fr 1fr;
    }

}